.nav-glyphish-example .ui-btn .ui-btn-inner { 
	padding-top: 40px !important; 
}
.nav-glyphish-example .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}
#gear .ui-icon { 
	background:  url(glyphish-icons/19-gear.png) 50% 50% no-repeat; 
	background-size: 24px 22px; 
}
#movie2 .ui-icon { 
	background: url(glyphish-icons/46-movie-2.png) 50% 50% no-repeat; 
	background-size: 12px 26px; 
}
#heart .ui-icon { 
	background:  url(glyphish-icons/29-heart.png) 50% 50% no-repeat; 
	background-size: 24px 16px;  
}
#lightbulb .ui-icon { 
	background:  url(glyphish-icons/84-lightbulb.png) 50% 50% no-repeat;  b
	ackground-size: 12px 26px; 
}
#user .ui-icon { 
	background:  url(glyphish-icons/111-user.png) 50% 50% no-repeat;  
	background-size: 22px 27px; 
}
#wrench .ui-icon { 
	background:  url(glyphish-icons/157-wrench.png) 50% 50% no-repeat;  
	background-size: 22px 24px; 
}
#glasses1 .ui-icon { 
	background:  url(glyphish-icons/163-glasses-1.png) 50% 50% no-repeat;  
	background-size: 22px 24px; 
}
#magnify .ui-icon { 
	background:  url(glyphish-icons/06-magnify.png) 50% 50% no-repeat;  
	background-size: 22px 24px; 
}
#widescreen .ui-icon { 
	background:  url(glyphish-icons/107-widescreen.png) 50% 50% no-repeat;  
	background-size: 22px 24px; 
}
#landscape .ui-icon { 
	background:  url(glyphish-icons/121-landscape.png) 50% 50% no-repeat;  
	background-size: 22px 24px; 
}
.centerpic {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.about {
    font-size: 100;
}
.popup-content {
	padding: 10px;
	width: 260px;
	max-height: 400px;
}		
.blog-list-small {
	max-height: 180px;
	overflow:auto;
}
.blog-list-large {
	max-height: 280px;
	overflow: auto;
}
.about-button {
	width: 200px;
	display:block;
    margin-left:auto;
    margin-right:auto;
}
.picture-collection {
	overflow: auto;
	white-space: nowrap;
}
.popup-picture {
	width: 295px;
	background-color:black;
	display:block;
    margin-left:auto;
    margin-right:auto;
}
.streamviewfield {
	max-width: 290px;
}
.streamcontainer0, .streamcontainer1, .streamcontainer2, .streamcontainer3, .streamcontainer4, .streamcontainer5 {
	overflow: hidden;
	padding: 2.5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.streampic0, .streampic1, .streampic2, .streampic3, .streampic4, .streampic5 {
	display: table-cell;
	vertical-align: middle;
}
.streamcontainer0 {
	width: 130px;
	height: 150px;
	float: left;
}
.streamcontainer3 {
	width: 130px;
	height: 130px;
	float: left;
}
.streamcontainer1 {
	width: 150px;
	height: 120px;
	float: left;
}
.streamcontainer2 {
	width: 150px;
	height: 160px;
	float: right;
}
.streamcontainer4 {
	width: 105px;
	height: 175px;
	float: left;
}
.streamcontainer5 {
	width: 175px;
	height: 175px;
	float: right
}
.streampic0 {
	height: 150px;
	min-width: 130px;
}
.streampic1 {
	width: 150px;
	min-height: 120px;
}
.streampic2 {
	height: 160px;
	min-width: 150px;
}
.streampic3 {
	width: 130px;
	min-height: 130px;
}
.streampic4 {
	height: 175px;
	min-width: 105px;
}
.streampic5 {
	width: 175px;
	min-height: 175px
}
.caption {
	text-align:center;
}
.listofblogs {
	width:320px;
	text-align: center;
}
.add-button {
	height:30px;
}
.login-collapsible {
	text-align:center;
}
.smallpic {
	height:150px;
}
.largepic {
	width:295px;
}
.radio-label {
	margin-left:40px;
	margin-top:0px;	
}
.about {
	text-align: center;
}
.discover-header {
	text-align: center;
	max-width:320px;
}
.delete-container {
	max-height: 150px;
	overflow: scroll;
}
.discoverpic {
	width: 93px;
	height: 100px;
}
.preButton {
	float: left;
	position: relative;
	top: -75px;
}
.nextButton {
	float: right;
	position: relative;
	top: -75px;
}
.fullscreen {
	max-height: 100%;
	max-width: 100%;
}
.back {
	position: fixed;
	left: 10px;
	top: 10px;
}
.discoverbutton {
	width: 100%;
}